.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

nav a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

nav a.active {
  text-decoration:underline;
  color: red;
}

@media (kax-width: 768px) {
  .container {
    flex-direction: column;
  }
  }
img {
  max-width: 100%;
  height: auto;
}
body {
  font-size: 2vw;
}